@import "tailwindcss";

@theme {
  --color-brand-purple: #311B92;
  --color-brand-orange: #FF6D00;
  --color-brand-bg-orange: #EC6530;
  --color-brand-bg-purple: #F8F5FA;
}

@layer base {
  html, body, #root {
    @apply h-full antialiased;
    direction: rtl;
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}

